{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="/alarms/add">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{ form.name }}</td>
                        </tr>
                        <tr>
                            <td>Day(s)</td>
                            <td>{{ form.days }}</td>
                        </tr>
                        <tr>
                            <td>Hour</td>
                            <td>{{ form.hour }}</td>
                        </tr>
                        <tr>
                            <td>Minute</td>
                            <td>{{ form.minute }}</td>
                        </tr>
                        <tr>
                            <td>Action</td>
                            <td>Parameter</td>
                        </tr>
                        <tr>
                            <td>{{ form.action }}</td>
                            <td>{{ form.param }}</td>
                        </tr>
                    </tbody>
                </table>
                {{ form.hidden_tag() }}
                <p>{{ form.submit }}</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

<script>
</script>
{% endblock %}

