{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ alarm.name }}</td>
                    </tr>
                    <tr>
                        <td>Day(s)</td>
                        <td>{{ alarm.days }}</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>{{ alarm.hour }}:{{ '%02d' | format(alarm.minute) }}</td>
                    </tr>
                    <tr>
                        <td>Next Run</td>
                        <td>{{ moment(alarm.next_run, True).fromNow(refresh=True) }}</td>
                    </tr>
                    <tr>
                        <td>Action</td>
                        <td>Parameter</td>
                    </tr>
                    <tr>
                        <td>{{ alarm.action }}</td>
                        <td>{{ alarm.param }}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <a class="btn btn-default" href="/alarms/{{ alarm.id }}/play" role="button">Play</a>
                <a class="btn btn-default" href="/alarms/{{ alarm.id }}/disable" role="button">Disable</a>
                <a class="btn btn-default" href="/alarms/{{ alarm.id }}/edit" role="button">Edit</a>
                <a class="btn btn-default" href="/alarms/{{ alarm.id }}/remove" role="button">Remove</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

<script>
</script>
{% endblock %}
