{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Day(s)</th>
                        <th>Time</th>
                        <th>Next Run</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for alarm in alarms %}
                    <tr>
                        <td>{{ alarm.id }}</td>
                        <td>{{ alarm.days }}</td>
                        <td>{{ alarm.hour }}:{{ '%02d' | format(alarm.minute) }}</td>
                        <td>{{ moment(alarm.next_run, True).fromNow(refresh=True) }}</td>
                        <td>
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a class="btn btn-default" href="#" role="button">Add Alarm</a></p>
        </div>
    </div>
</div>
{% endblock %}
