{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Name</td>
                        {% if mode == 'get' %}
                            <td>{{ alarm.name }}</td>
                        {% else %}
                            <td>{{ form.name }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Day(s)</td>
                        {% if mode == 'get' %}
                            <td>{{ alarm.days }}</td>
                        {% else %}
                            <td>{{ form.days }}</td>
                        {% endif %}
                    </tr>
                    {% if mode == 'get' %}
                        <tr>
                                <td>Time</td>
                                <td>{{ alarm.hour }}:{{ '%02d' | format(alarm.minute) }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Hour</td>
                            <td>{{ form.hour }}</td>
                        </tr>
                        <tr>
                            <td>Minute</td>
                            <td>{{ form.minute }}</td>
                        </tr>
                    {% endif %}
                    </tr>
                    {% if mode == 'get' %}
                        <tr>
                            <td>Next Run</td>
                            <td>{{ moment(alarm.next_run, True).fromNow(refresh=True) }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Action(s)</td>
                        <td></td>
                    </tr>
                    {% if mode == 'get' %}
                        <tr>
                            <td>{{ alarm.action }}</td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ form.action }}</td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% if mode == 'get' %}
                <p>
                    <a class="btn btn-default" href="/alarms/{{ alarm.id }}/play" role="button">Play</a>
                    <a class="btn btn-default" href="/alarms/{{ alarm.id }}/disable" role="button">Disable</a>
                    <a class="btn btn-default" href="/alarms/{{ alarm.id }}/edit" role="button">Edit</a>
                    <a class="btn btn-default" href="/alarms/{{ alarm.id }}/delete" role="button">Delete</a>
                </p>
            {% else %}
                <p>
                    {{ form.submit }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

<script>
</script>
{% endblock %}

