{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'pi-o-clock.png') }}" type="image/png">
<link rel="icon" href="{{ url_for('static', filename = 'pi-o-clock.png') }}" type="image/png">
{% endblock %}

{% block title %}Pi O'Clock{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Pi O'Clock</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/say">Say</a></li>
                <li><a href="/play">Play</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}

    {% block footer %}
    <hr>
    <div class="container">
        <footer>
            <p>&copy; Everett Toews 2015</p>
        </footer>
    </div>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
