{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'pi-o-clock.png') }}" type="image/png">
<link rel="icon" href="{{ url_for('static', filename = 'pi-o-clock.png') }}" type="image/png">
{% endblock %}

{% block title %}Pi O'Clock{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Pi O'Clock</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}

    {% block footer %}
    <hr>
    <div class="container">
        <footer>
            <p>&copy; Everett Toews 2015</p>
        </footer>
    </div>
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
